a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_8538c1f { position:absolute; left:16%; top:6%; width:83%; background:none; height:auto;  }
#img_e4bf9ac { position:absolute; left:43%; top:30%; width:25%; background:none; height:auto;  }
